body{
    font-size: 62.5%;
}
.content {
  
        width: 70%;
        margin: 0 auto;
  
  }

  .aboutH1{
      text-align: center;
      font-size: 7 rem;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .card-body{
    text-align: center;
  }

  .accordion-txt{
   font-family: 'Share Tech Mono', monospace;
   
  }

  .accordion-txt button{
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
   }

  .accordion-title{
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    text-align: center;
  }