body{
    font-size: 62.5%;
}
.content {
  
        width: 70%;
        margin: 0 auto;
  
  }
h1{
  font-family: 'Share Tech Mono', monospace;
}
  .aboutH1{
      font-family: 'Share Tech Mono', monospace;
      text-align: center;
      font-size: 7 rem;
  }

  .carousel-inner img {
    width: 100%;
    height: 100%;
  }

  .card-body{
    font-family: 'Share Tech Mono', monospace;
    text-align: center;
  }

  .accordion-txt{
   font-family: 'Share Tech Mono', monospace;
   
  }

  .accordion-txt button{
    font-family: 'Share Tech Mono', monospace;
    font-size: 1.5rem;
   }

  .accordion-title{
    font-family: 'Share Tech Mono', monospace;
    font-weight: bold;
    text-align: center;
  }
.menu-link-color li{
  color: #0ebcff;
}
  .nav-item a{
    
    font-size: 1.5rem;
  }
  

  .web-app-titles{
    font-family: 'PT Serif', serif;
    font-size: 2.5rem;
  }

  .carousel-item a{
    font-family: 'PT Serif', serif;
    font-size: 1.5rem;
    color: white;
  }

  .carousel-caption{
    border: thick;
    padding: 10px;
    background-color: #0ebcff;
  }